.*
!.gitignore
/build/*
/config*
!configure.ac
/db3
/db
/db-4.5.20
/lib/rpmdb_*
!/lib/rpmdb_internal.h
/po/*.gmo
*.lo
*.la
*.tmp
Makefile
Makefile.in
Makefile.in.in

/ABOUT-NLS
/Doxytags
/aclocal.m4
/autom4te.cache
/db.h
/depcomp
/doc/librpm.doxy
/doc/librpm/html
/find-provides
/find-requires
/include
/install-sh
/javadeps
/lib/rpmints.h
/lib/stamp-h2
/lib/tagtbl.c
/libtool
/ltmain.sh
/m4
/macros
/missing
/platform
/po/Makefile.in.in
/po/Makevars.template
/po/POTFILES
/po/Rules-quot
/po/boldquot.sed
/po/en@boldquot.header
/po/en@quot.header
/po/insert-header.sin
/po/quot.sed
/po/remove-potcdate.sin
/po/stamp-po
/rpm
/rpm.pc
/rpm2cpio
/rpmb
/rpmbuild
/rpmcache
/rpmd
/rpmdeps
/rpmgraph
/rpmi
/rpmk
/rpmpopt-4.4.90
/rpmpopt-4.5.90
/rpmq
/rpmrc
/scripts/macros.perl
/scripts/macros.php
/scripts/macros.python
/stamp-h1
/tests/atconfig
