.*
!.tx
!.gitignore
!.mailmap
/config*
!configure.ac
/db3
/db
/db-4.5.20
/lib/rpmdb_*
!/lib/rpmdb_internal.h
/po/*.gmo
*.*~
*.o
*.lo
*.la
*.tmp
*.pyc
*.pyo
Makefile
Makefile.in
Makefile.in.in

/ABOUT-NLS
/ChangeLog
/Doxytags
/aclocal.m4
/autom4te.cache
/build-aux
/db.h
/debugedit
/doc/librpm.doxy
/doc/librpm/html
/elfdeps
/include
/lib/rpmints.h
/lib/stamp-h2
/lib/tagtbl.C
/libtool
/m4
/macros
/platform
/po/Makefile.in.in
/po/Makevars.template
/po/POTFILES
/po/Rules-quot
/po/boldquot.sed
/po/en@boldquot.header
/po/en@quot.header
/po/insert-header.sin
/po/quot.sed
/po/remove-potcdate.sin
/po/stamp-po
/po/*~
/python/setup.py
/rpm
/rpm.pc
/rpm2archive
/rpm2cpio
/rpm2archive
/rpmb
/rpmbuild
/rpmd
/rpmdb
/rpmdeps
/rpmgraph
/rpmkeys
/rpmpopt-*
/rpmrc
/rpmsign
/rpmspec
/scripts/macros.perl
/scripts/macros.php
/scripts/macros.python
/sepdebugcrcfix
/stamp-h1
/tests/atconfig
/tests/atlocal
/tests/package.m4
/tests/rpmtests
/tests/rpmtests.dir
/tests/rpmtests.log
/tests/testing/
/tests/data/scripts_pythondistdeps/usr/
