#include <winver.h>

1 VERSIONINFO
 FILEVERSION 3,1,0,0
 PRODUCTVERSION 3,1,0,0
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
 FILEFLAGS 0x0L
 FILEOS VOS__WINDOWS32
 FILETYPE VFT_DLL
 FILESUBTYPE 0x0L
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904b0" /* U.S. English; Unicode */
		BEGIN
			VALUE "CompanyName", "Virtual Unlimited B.V.\0"
			VALUE "FileDescription", "BeeCrypt Cryptography Library\0"
			VALUE "FileVersion", "3.1.0\0"
			VALUE "InternalName", "beecrypt\0"
			VALUE "LegalCopyright", "Copyright (c) 1997-2003 Virtual Unlimited B.V.\0"
			VALUE "LegalTradeMarks", "BeeCrypt is a trademark of Virtual Unlimited B.V.\0"
			VALUE "OriginalFileName", "BEECRYPT.DLL\0"
			VALUE "ProductName", "BeeCrypt\0"
			VALUE "ProductVersion", "3.1.0\0"
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x409, 1200
	END
END
