BODY { background: #fff }

A:link { color: #0D45AC }
A:visited { color: #936 }

H1 { font: bold 170% verdana,arial,sans-serif }

H2 {
font: bold 100% verdana,arial,sans-serif;
margin-bottom: .5em
}

H3 {
font: bold 90% verdana,arial,sans-serif;
margin-bottom: .5em
}

A.index { font: normal 70% Verdana,Arial,Helvetica,sans-serif }
A.index  { color: #0D45AC }
A.index:visited { color: #936 }

.crumbtrail { font: normal 70% Verdana,Arial,Helvetica,sans-serif }
A.crumblink  { color: #0D45AC }
A.crumblink:visited { color: #936 }

