name: C/C++ CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: setup
      run:  |
        sudo apt install doxygen gettext autoconf automake autopoint libgcrypt-dev libpopt-dev libarchive-dev liblua5.3-dev &&
        sudo ln -T /usr/lib/x86_64-linux-gnu/pkgconfig/lua53.pc /usr/lib/x86_64-linux-gnu/pkgconfig/lua.pc &&
        /usr/bin/pkg-config 'lua >= 5.2'
    - name: configure
      run: sh -x autogen.sh --rpmconfigure
    - name: make
      run: make 
    - name: make check
      run: make check
    - name: make distcheck
      run: make distcheck
