name: Linux CI

on:
  push:
    paths-ignore: &docfiles
      - '**.md'
      - 'COPYING'
      - 'CREDITS'
      - 'INSTALL'
      - 'README'
      - 'docs/**'
  pull_request:
    paths-ignore: *docfiles

jobs:
  build_and_test:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v3
      - name: Build the Fedora testing environment (Clang)
        run: ./mktree.oci build --toolchain clang
        working-directory: ./tests
      - name: Build the Fedora testing environment (GNU C/C++)
        # This replaces the previous Clang based image
        run: ./mktree.oci build --toolchain gcc
        working-directory: ./tests
      - name: Fix kernel mmap rnd bits
        # High entropy setting in GH runner images >= 20240310.1.0
        # causes ASAN blowing up here and there:
        # https://github.com/actions/runner-images/issues/9491
        run: sudo sysctl vm.mmap_rnd_bits=28
      - name: Run the test suite
        run: ./mktree.oci check --interactive=false -j$(nproc)
        working-directory: ./tests

    env:
      MKTREE_ENGINE: docker
