name: Linux CI

on: [push, pull_request]

jobs:
  build_and_test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Build the Fedora testing environment
        run: sudo ./mktree.docker build
        working-directory: ./tests
      - name: Run the test suite
        run: sudo ./mktree.docker check
        working-directory: ./tests
